
.bespoke-slide
  background none



// Backgdrop
.fbg-image
  background-size cover !important
  &.bespoke-backdrop-active
    opacity 1

.asphalt
  background-color color-asphalt

.start
  background url(../images/start.jpg) 0 0 no-repeat

.windows-95
  background url(../images/windows-95.jpg) 0 0 no-repeat

.ie-95
  background url(../images/ie-95.png) 0 0 no-repeat

.java
  background url(../images/java.jpg) 0 0 no-repeat

.js-community
  background url(../images/js-community.gif) 0 0 no-repeat

.js-everywhere
  background url(../images/js-everywhere.png) 0 0 no-repeat

.elmo-burn
  background url(../images/elmo-burn.gif) 0 0 no-repeat

.confused-travolta
  background url(../images/confused-travolta.gif) 0 0 no-repeat

.two-peoples
  background url(../images/two-peoples.png) 0 0 no-repeat

.wat
  background url(../images/wat.png) 0 0 no-repeat

.bg-yellow.bespoke-backdrop-active
  background-color color-yellow
  opacity 1

.bg-yellow-js.bespoke-backdrop-active
  background-color #F9DD3E
  opacity 1

.bg-white.bespoke-backdrop-active
  background-color white
  opacity 1

.bg-red.bespoke-backdrop-active
  background-color color-red
  opacity 1
