
.bespoke-slide
  background none



// Backgdrop
.fbg-image
  background-size cover !important

.asphalt
  background-color color-asphalt

.windows-95
  background url(../images/windows-95.jpg) 0 0 no-repeat

.ie-95
  background url(../images/ie-95.png) 0 0 no-repeat

.java
  background url(../images/java.jpg) 0 0 no-repeat

.this-is-js
  background url(../images/this-is-js.jpg) 0 0 no-repeat

.baia
  background url(../images/baia.jpg) 0 0 no-repeat

.js-community
  background url(../images/js-community.gif) 0 0 no-repeat

.bg-yellow.bespoke-backdrop-active
  background-color color-yellow
  opacity 1

.bg-yellow-js.bespoke-backdrop-active
  background-color #F9DD3E
  opacity 1

.bg-white.bespoke-backdrop-active
  background-color white
  opacity 1

.bg-red.bespoke-backdrop-active
  background-color color-red
  opacity 1
